* {
  margin: 0;
  padding: 0;
}

.main-menu {
  background-color: gray;
  height: 60px;
  text-align: center;
  font-size: 25px;
  font-style: italic;
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex-direction: row;
  height: 100%;

  .main-row-1 {
    background-color: #ff4f4f;
    width: 15%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .main-row-2 {
    background-color: #9f9f9f;
    width: 15%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .main-row-3 {
    background-color: #ff4f4f;
    width: 40%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    img {
      width: 80%;
    }
  }

  .main-row-4 {
    background-color: #9f9f9f;
    width: 40%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    img {
      width: 80%;
    }
  }
}

.footer {
  background-color: gray;
  height: 90px;
  text-align: center;
  font-size: 20px;
  font-style: italic;
  display: block;
  }


